<?xml version="1.0"?>

<launch>

	<arg name="rviz" value="true" />

	<!-- start VDB-EDT-->
	<node name="vdbmap" pkg="vdb_edt" type="vdb_edt_node">
		<rosparam command="load" file="$(find vdb_edt)/config/vdb_edt.yaml" />
		<!-- <remap from="cloud_in" to="/os1_node/points_raw" /> -->
		<remap from="cloud_in" to="/delta/rgbd/camera_depth/depth/points" />
	</node>

	<group if="$(arg rviz)">
		<node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find vdb_edt)/rviz/vdb_edt_viz.rviz" />
	</group>

</launch>
